<!doctype html>
<html>
    <head>
        {% load static from staticfiles %}
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block title %}Tesla{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static 'css/main.css' %}" rel="stylesheet" />
    </head>
    <body>
        {% include 'partials/header.html' %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
            {{ message }} 
        </div>
        {% endfor %}
        {% block body %}{% endblock %}
       <script src="{% static 'main.js' %}"></script>
    </body>
 </html>
