{% extends 'layouts/base.html' %}
{% load static from staticfiles %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <img src="{% static 'img/tesla.png' %}"> 
            <h1>Finanzas personales, sin problemas, solo simple</h1>
        </div>
    </div>
</div>
{% endblock %}
